@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
}

section {
  overflow-x: hidden;
}

#cats_scroll {
  height: 450vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_cat {
  height: 50vh;
}

#second {
  position: relative;
  height: 119vh;
  background-color: black;
  border-radius: 2px;
  border-color: black;
  overflow-y: hidden;
}

#cat_first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
}

#cats_all {
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  display: none;
}

#cats_all_negative {
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  display: none;
}

#window {
  position: relative;
  height: 20vh;
  background-color: black;
  margin-bottom: -10px;
}

#cards {
  position: relative;
  background-color: black;
  z-index: 3;
  overflow-x: hidden;
}

#third__cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180vh;
  overflow-x: hidden;
  margin-top: -5px;
}

.card {
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
}

#fourth {
  position: relative;
  background-image: url('../img/backgr.svg');
  height: 120vh;
  background-size: cover;
  z-index: -2;
  margin-top: -2px;
}

#screen_generator {
  overflow: hidden;
  position: relative;
  background-color: #FF7B7B;
  height: 120vh;
  margin-top: -5px;
}

#white_screen--01 {
  position: absolute;
  left: -5vw;
  top: 10vh;
}

#white_screen--02 {
  position: absolute;
  left: 2vw;
  top: 14vh;
}

#white_screen--03 {
  position: absolute;
  left: 10vw;
  top: 20vh;
}

#white_screen--04 {
  position: absolute;
  left: 14vw;
  top: 7vh;
}

#white_screen--05 {
  position: absolute;
  left: 55vw;
  top: 14vh;
  display: none;
}

#white_screen--06 {
  position: absolute;
  left: 60vw;
  top: 20vh;
  display: none;
}

#white_screen--07 {
  position: absolute;
  left: 70vw;
  top: 7vh;
  display: none;
}

#white_screen--08 {
  position: absolute;
  left: 90vw;
  top: 20vh;
  display: none;
}

#white_screen--09 {
  position: absolute;
  left: 50vw;
  top: 10vh;
  display: none;
}

#white_screen--10 {
  position: absolute;
  left: 10vw;
  top: 20vh;
  display: none;
}

#white_screen--11 {
  position: absolute;
  left: 50vw;
  top: 30vh;
  display: none;
}

#black_screen--01 {
  position: absolute;
  left: 20vw;
  top: 24vh;
  display: none;
}

#black_screen--02 {
  position: absolute;
  left: 27vw;
  top: 34vh;
  display: none;
}

#black_screen--03 {
  position: absolute;
  left: 36vw;
  top: 30vh;
  display: none;
}

#black_screen--04 {
  position: absolute;
  left: 30vw;
  top: 10vh;
  display: none;
}

#fifth {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF7B7B;
  height: 100vh;
  margin-top: -2px;
}

#cat_on {
  position: absolute;
  height: 40vh;
  width: 16vw;
  left: 42.5vw;
  top: -98vh;
  display: none;
  z-index: 2;
}

#btn_white {
  position: absolute;
  margin: auto;
  height: 46vh;
  top: 50vh;
}

@keyframes aniCat {
  0% {
    transform: translate(0,0vh);
    }
  100% {
    transform: translate(0,123vh);
    }
}

@keyframes opacityCat {
0% {
  opacity: 100%;
  }
100% {
  opacity: 0%;
  }
}

#btn_black {
  position: absolute;
  margin: auto;
  height: 46vh;
  top: 50vh;
  display: none;
}

#sixth {
  height: 110vh;
  width: 100vw;
  background-image: url('../img/backgr_2.svg');
  background-size: cover;
  margin: -2px;
}

#seventh {
  position: relative;
  height: 100vh;
  background-color: black;
}

#home {
  position: absolute;
  height: 30vh;
  width: 25vw;
  top: 70vh;
  left: 73.8vw;
}

#primetnaya {
  position: absolute;
  height: 35vh;
  width: 40vw;
  top: 65vh;
  left: 0.9vw;
}

#omen {
  position: absolute;
  height: 50vh;
  width: 60vw;
  top: 44.2vh;
  left: 37.9vw;
}

#time {
  position: absolute;
  height: 34vh;
  width: 41vw;
  top: 25vh;
  left: 44vw;
}

#museum {
  position: absolute;
  height: 70vh;
  width: 38vw;
  top: 3vh;
  left: 4vw;
}

#home_cup {
  position: absolute;
  height: 26vh;
  width: 25vw;
  top: 72vh;
  left: 73.8vw;
}

#primetnaya_cup {
  position: absolute;
  height: 34vh;
  width: 31vw;
  top: 65.5vh;
  left: 5.2vw;
}

#omen_cup {
  position: absolute;
  height: 45vh;
  width: 48vw;
  top: 46.2vh;
  left: 43.9vw;
}

#time_cup {
  position: absolute;
  height: 30vh;
  width: 31vw;
  top: 27vh;
  left: 49vw;
}

#museum_cup {
  position: absolute;
  height: 67vh;
  width: 27vw;
  top: 4vh;
  left: 9.5vw;
}

@keyframes fjfj {
0% {
  opacity: 1;
  }
100% {
  opacity: 0;
  }
}

@keyframes jf {
0% {
  opacity: 0;
  }
100% {
  opacity: 1;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  #main_cat {
    height: 40vh;
  }

  #second {
    height: 140vh;
  }

  #cat_on {
    top: -95vh;
  }
}

@media screen and (min-width: 1370px) and (max-width: 1450px) {
  #main_cat {
    height: 37vh;
  }

  #second {
    height: 126vh;
  }

  #cat_on {
    top: -93vh;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1370px) {
  #main_cat {
    height: 37vh;
  }

  #second {
    height: 108vh;
  }

  #cat_on {
    top: -93vh;
  }
}
