body {
  overflow-x: hidden;
}

#first {
  height: 1500vw;
  width: 100vw;

}

#main_cat {
  position: relative;
  height: 20vw;
  width: 20vw;
  left: 40vw;
  top: 220px;
}

#second {
  position: relative;
  height: 100vh;
  background-color: black;
  margin: -20px;
}

#third {
  position: relative;
  height: 100vh;
  background-color: black;
  margin: -20px;
}

#fourth {
  position: relative;
  background-image: url('../img/backgr.svg');
  height: 110vh;
  background-size: cover;
  margin: -20px;
  z-index: -1;
}

#cards {
  position: relative;
  height: 100vh;
  background-color: black;
  margin: -20px;
}

#fifth {
  position: relative;
  background-color: #FF7B7B;
  height: 100vh;
  margin: 0px -20px 0px -20px;
}

#cat_on {
  position: absolute;
  height: 40vh;
  width: 16vw;
  left: 43vw;
  top: -100vh;
  display: none;
  z-index: 2;
}

#btn_white {
  position: absolute;
  margin: auto;
  left: 40vw;
  top: 50vh;
}
@keyframes aniCat {
  0% {
    transform: translate(0,0vh);
    }
  100% {
    transform: translate(0,122vh);
    }
}

@keyframes opacityCat {
0% {
  opacity: 100%;
  }
100% {
  opacity: 0%;
  }
}

#btn_black {
  position: absolute;
  margin: auto;
  left: 40vw;
  top: 50vh;
  display: none;

}

#window {
  position: relative;
  height: 100vh;
  background-color: black;
  margin: -20px;
}

#sixth {
  height: 100vh;
  width: 110vw;
  background-image: url('../img/backgr_2.svg');
  background-size: cover;
  margin: -20px;
}

#seventh {
  position: relative;
  height: 100vh;
  background-color: black;
  margin: -20px;
}

#home {
  position: absolute;
  height: 30vh;
  width: 25vw;
  top: 70vh;
  left: 73.8vw;
}

#primetnaya {
  position: absolute;
  height: 35vh;
  width: 40vw;
  top: 65vh;
  left: 0.9vw;
}

#omen {
  position: absolute;
  height: 50vh;
  width: 60vw;
  top: 44.2vh;
  left: 37.9vw;
}

#time {
  position: absolute;
  height: 34vh;
  width: 41vw;
  top: 25vh;
  left: 44vw;
}

#museum {
  position: absolute;
  height: 70vh;
  width: 38vw;
  top: 3vh;
  left: 4vw;
}
